
<section id="manage-users">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h4 class="mb-0"> {{'Manage Users'}}</h4>
      </div>
      <div class="col-lg-6 ">

        <h5 *ngIf="delte_msg" class="position-fixed push-top alert alert-danger">User deleted Successfully.</h5>
        <h5 class="position-fixed push-top alert alert-danger" *ngIf="user_block_msg"> User blocked Successfully.</h5>
        <h5 class="position-fixed push-top alert alert-success" *ngIf="unblock_msg">User Unblocked Successfully. </h5>
      </div>
    </div>
    <hr class="hr-border" />
  </div>
</section>

<section id="inner">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-4 form-group d-inline">
        <div class="input-group">
          <input type="text" class="form-control pl-2 " placeholder="Search..." (input)="searchstring($event.target.value)"
            maxlength="30">
          <div class="input-group-append">
            <!-- <button class="btn btn-green" type="submit">
              <i class="fa fa-search"></i>
            </button> -->
          </div>
        </div>
      </div>
      <div class="col-md-5 pt-2">
        <div class="form-group">

          <div class="custom-control custom-radio d-inline">
            <input type="radio" id="Normal-Users" checked name="abc" value="1" class="custom-control-input" (change)="handleChange($event)">
            <label class="custom-control-label" for="Normal-Users">Normal Users</label>
          </div>
          <div class="custom-control custom-radio ml-3  d-inline">
            <input type="radio" id="brand" name="abc" value="2" class="custom-control-input" (change)="handleChange($event)">
            <label class="custom-control-label" for="brand">Nutrient Brand Manager</label>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="pull-right">
          <button type="button" class="ml-2 btn btn-green text-white" (click)="export_csv()">Export to CSV</button>
        </div>
      </div>
    </div>

  </div>
  <hr />
</section>
<section id="supplier-inner-section">
  <div class="container-fluid">
    <form [formGroup]="search_userform" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
              <div class="form-group ">
                <span for="display">Profile Visibility</span>
                <select id="dislay" name="display" class="mt-3 form-control" formControlName="profileVisibility"
                >
                  <option value="0" disabled>--Select--</option>
                  <option value="1">All</option>
                  <option value="2">Public</option>
                  <option value="3">Private</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group ">
                <span for="display">Status</span>
                <select id="dislay" name="display" class="mt-3 form-control" formControlName="status" >
                  <option value="0" disabled>--Select--</option>
                  <option value="1">All</option>
                  <option value="2">Active</option>
                  <option value="3">Blocked</option>

                </select>
              </div>
            </div>

            <div class="col-md-4">
              <label for="joining date">Joining Date</label>
              <div class="form-group mt-2 form-inline">
                <label class="pull-left mr-2" for="datepicker">From </label>
                <input class="input-adjust form-control pr-0" (click)="d2.toggle()" placeholder="DD/MM/YYYY" name="dp2"
                  ngbDatepicker #d2="ngbDatepicker" formControlName="from_time" [readonly]="true" [maxDate]="maxDate2"
                  (ngModelChange)="fromdate($event)">

                <label class="pull-left ml-2 mr-2" for="datepicker">To</label>
                <input class="input-adjust form-control pr-0" (click)="d3.toggle()" placeholder="DD/MM/YYYY" name="dp3"
                  ngbDatepicker #d3="ngbDatepicker" formControlName="to_time" [readonly]="true" [minDate]="minDate1"
                  [maxDate]="maxDate" (ngModelChange)="todate($event)">
              </div>
            </div>
            <div class="col-md-4 mt-4">
              <div class="text-right mt-3">
                <button type="submit" class="btn  btn-orange text-white">Filter</button>
                <button class="btn btn-danger ml-2" type="button" (click)="reset()">Reset</button>

              </div>
            </div>
          </div>
        </div>

      </div>
    </form>

  </div>
</section>
<section class="client-mngmnt">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 ">
        <div class="card">
          <div class="card-text">
            <div class="">
              <table class="table table-hover text-center">
                <thead class="btn-green">
                  <tr>
                    <th scope="col">Sr. No.</th>
                    <th scope="col" sortable="name" (sort)="onSort($event)"> User Name</th>
                    <th scope="col" sortable="area" (sort)="onSort($event)">Email</th>
                    <th scope="col" sortable="name" (sort)="onSort($event)"> Joining Date</th>
                    <th scope="col" sortable="population" (sort)="onSort($event)">Profile Visibility</th>
                    <th scope="col" sortable="population" (sort)="onSort($event)">Status</th>
                    <th scope="col" sortable="population" (sort)="onSort($event)">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let users of user_list | paginate: {itemsPerPage: limit, currentPage: page, totalItems: collectionSize } let i=index">
                    <td scope="row">{{((page-1)*limit)+(i+1)}}</td>
                    <td>{{ users.userName }}</td>
                    <td>{{ users.email }}</td>

                    <td>{{ customdate(users.created) }}</td>
                    <td>{{( users.isPublic==1)?'Public':'Private'}}</td>
                    <td>{{ (users.status===1)?'Active':(users.status===2)?'Blocked':''}}</td>
                    <td><span><a [routerLink]="['/theme/modules/user-management/user-detail',users._id]"
                          routerLinkActive="active"><i class="fa fa-eye text-success"></i></a> &nbsp;
                        <i *ngIf="(users.status===1)" class="fa fa-ban mr-2 text-danger" style="cursor:pointer;"
                          (click)="openVerticallyCentered(block,users._id)"></i>

                        <i *ngIf="(users.status===2)" class="fa fa-ban mr-2 text-info" style="cursor:pointer;" (click)="openVerticallyCentered(unblock,users._id)"></i>

                        <i class="fa fa-trash-o text-danger" style="cursor:pointer;" (click)="openVerticallyCentered(delete,users._id)"></i>
                        &nbsp;
                      </span></td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-6">
                  <pagination-controls *ngIf="collectionSize !=0 " (pageChange)="loadpage($event)" maxSize="5"
                    directionLinks="true" responsive="true" previousLabel="Previous" nextLabel="Next">
                  </pagination-controls>
                </div>
                <div class="col-md-6" *ngIf="collectionSize !=0 ">
                  <select class="custom-select pull-right" style="width: auto" (change)="limitchange($event)">
                    <option Value=10>10 Users per page</option>
                    <option Value=15>15 Users per page</option>
                    <option Value=25> 25 Users per page</option>
                  </select>
                </div>


              </div>


            </div>
            <div *ngIf="collectionSize==0" class="text-center"> No Data Found </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<ng-template #delete let-modal>
  <!----- Header  ------>
  <section id="modal-header">
    <div class="container-fluid">
      <div class="row p-4">
        <div class="col-md-12 frgtpass-head">
          <h4 class="text-center"> Are you sure want to delete this User? </h4>
        </div>
      </div>
    </div>
  </section>
  <!-------------->
  <section>
    <div class="container-fluid frgtpass-btns mb-3">
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-danger text-white" (click)="user_delete()">Delete</button>
          <button type="button" class="ml-3 btn btn-green text-white" (click)="modal.close('Close click')">Cancel
          </button>
        </div>
      </div>
    </div>
  </section>
</ng-template>

<ng-template #block let-modal>
  <!----- Header  ------>
  <section id="modal-header">
    <div class="container-fluid">
      <div class="row p-4">
        <div class="col-md-12 frgtpass-head">
          <h4 class="text-center"> Are you sure want to Block this User? </h4>
        </div>
      </div>
    </div>
  </section>
  <!-------------->
  <section>
    <div class="container-fluid frgtpass-btns mb-3">
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-danger   text-white" (click)="user_block()">Block</button>
          <button type="button" class="ml-3 btn btn-green text-white " (click)="modal.close('Close click')">Cancel
          </button>
        </div>
      </div>
    </div>
  </section>
</ng-template>

<ng-template #unblock let-modal>
  <!----- Header  ------>
  <section id="modal-header">
    <div class="container-fluid">
      <div class="row p-4">
        <div class="col-md-12 frgtpass-head">
          <h4 class="text-center"> Are you sure want to Unblock this User? </h4>
        </div>
      </div>
    </div>
  </section>
  <!-------------->
  <section>
    <div class="container-fluid frgtpass-btns mb-3">
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-info text-white" (click)="unblock_user()">Unblock</button>
          <button type="button" class="ml-3 btn btn-green text-white" (click)="modal.close('Close click')">Cancel</button>
        </div>
      </div>
    </div>
  </section>
</ng-template>
