.header-adjust {
    right: 0;

    // cursor: pointer;
    background: #ffffff;
    box-shadow: 5px 0px 3px 1px rgba(0, 0, 0, 0.07058823529411765);
    
    .fa-size{
        font-size: 34px;
    }   
}
.contols {
    // position: absolute;
    // right:8px;
    // top: 53%;
    .fa-size{
      font-size: 25px;
    }
    .fa-drop-size{
      font-size: 60px;
    }
    .ad-dp-dwn-w{
      width: max-content;
    }
    .dropdown-item:hover{
      background: #00B420;
      color:#fff;
    }
    .dropdown-toggle::after{
      content: none;
    }

  
    // .btn-drop{
    //   background: ;
    // color: white;
    // border-color: 
    // }    
  }

  .user-circle{
    border: 1px solid #dddddd; border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    height: 44px;
    width: 44px;
  img{
        width:100%;
        height: 100%;
        object-fit: cover;
  }
} 
  .userdropdown .dropdown-menu{ margin-top: 10px; padding: 0px;
  button{
    padding:5px 0;
  }}
  .userdropdown .dropdown-menu::after{ 

     position: absolute;
     top: -9px;
     right: 10px;
    width: 0;
    height: 0;
    content: "";
    border-top: 0;
    color: rgba(0,0,0,.15);
    border-right: .5em solid transparent;
    border-bottom: .5em solid;
    border-left: .5em solid transparent;
  }
  .userdropdown .dropdown-item{ border-bottom: 1px solid rgba(0,0,0,.15);}
  .userdropdown .dropdown-item:last-child{ border-bottom: none;}