<section id="contact-us-manage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h4 class="mb-0"> {{'Manage Contact'}}</h4>
      </div>


    </div>
    <hr class="hr-border" />
  </div>
</section>
<div *ngIf="delete_msg" class="position-fixed push-top alert alert-danger">
  <h5 class="mb-0">Contact Request deleted Successfully.</h5>
</div>
<h5 *ngIf=" resolved_msg" class="position-fixed push-top alert alert-success mb-0">Contact Request Resolved
  Successfully.</h5>

<section id="inner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 form-group d-inline">
        <div class="input-group">
          <input type="text" class="form-control pl-2 " placeholder="Search..." (input)="serachstring($event)">

        </div>
      </div>
      <div class="col-md-6 pt-2">
        <!-- <div class="form-group">
          <div class="custom-control custom-radio d-inline">
            <input type="radio" id="Normal-Users" checked name="abc" class="custom-control-input">
            <label class="custom-control-label" for="Normal-Users">Normal Users</label>
          </div>
          <div class="custom-control custom-radio ml-3  d-inline">
            <input type="radio" id="brand" name="abc" class="custom-control-input">
            <label class="custom-control-label" for="brand">Nutrient Brand Manager</label>
          </div>
        </div> -->
      </div>
      <div class="col-md-2 col-sm-12 pos">
        <div class="pull-right">
          <button type="button" class="ml-2 btn btn-green" (click)="export_csv()">Export to CSV</button>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section>
<section>
  <div class="container-fluid">
    <form [formGroup]="search_contactform" (ngSubmit)="filterdata()">

      <div class="row">
        <div class="col-md-4">
          <label for="adding date">
            <h6>Date of additon</h6>
          </label>
          <div class="form-group mt-2 form-inline">
            <label class="pull-left mr-2" for="datepicker">From </label>
            <input class="form-control input-adjust" (click)="d2.toggle()" placeholder="DD/MM/YYYY" name="dp2"
              ngbDatepicker #d2="ngbDatepicker" [readonly]="true" formControlName="from_date" [maxDate]="maxDate"
              (ngModelChange)="fromdate($event)">

            <label class="pull-left  mr-2 ml-2" for="datepicker">To</label>
            <input class="form-control input-adjust" (click)="d3.toggle()" placeholder="DD/MM/YYYY" name="dp3"
              ngbDatepicker #d3="ngbDatepicker" [readonly]="true" formControlName="todate" [minDate]="minDate"
              [maxDate]="maxDate1" (ngModelChange)="to_date($event)">
          </div>
        </div>
        <div class="col-md-2">
          <label for="last-update">
            <h6>Status</h6>
          </label>
          <div>
            <select id="dislay" name="display" class="mt-2 form-control" formControlName="status">
              <option value="1">All</option>
              <option value="2">Pending</option>
              <option value="3">Resolved</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <label for="last-update">
            <h6>User Type</h6>
          </label>
          <div>
            <select id="dislay" name="display" class="mt-2 form-control" formControlName="user_type">
              <option value="1">All</option>
              <option value="2">Brand Manager</option>
              <option value="3">User</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex justify-content-end pt-4 mt-3">

            <button class="btn btn-green ml-3 mr-2 " type="submit">Filter</button>
            <button class="btn btn-danger ml-2" type="button" (click)="resetform()">Reset</button>

          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<section class="client-mngmnt">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 pb-5 mt-4">
        <div class="card">
          <div class="card-text">
            <div class="table-responsive">
              <table class="table table-hover text-center">
                <thead class="btn-green">
                  <tr>
                    <th scope="col">Sr. No.</th>
                    <th scope="col">User Type</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col"> Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    *ngFor="let contact of contact_list | paginate: {itemsPerPage: limit, currentPage: page, totalItems: collectionSize } let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{(contact.userType===1)?'Brand Manager':(contact.userType===2)?'User':''}}</td>
                    <td>{{ contact.name}}</td>
                    <td>{{ contact.email}} </td>

                    <td>{{customdate(contact.created)}} </td>
                    <td>{{timezone (contact.created)}}</td>
                    <!-- <td>{{contact.isResolved}}</td> -->
                    <td>{{(contact?.isResolved===0)?'Pending':(contact?.isResolved===1)?'Resolved':''}}</td>


                    <td>
                      <div class="form-group form-check-inline">

                        <div *ngIf="contact.isResolved===0" class="custom-control custom-checkbox"
                          (click)="openVerticallyCentered(markrequest,contact._id)">
                          <input type="checkbox" class="custom-control-input">
                          <label class="custom-control-label"></label>
                        </div>
                        <i [routerLink]="['/theme/modules/contactus/view-request',contact._id]"
                          routerLinkActive="active" class="fa fa-eye ml-2 text-success cur_pointer"></i>
                        <i (click)="openVerticallyCentered(deletepoup,contact._id)"
                          class="ml-3 fa fa-trash-o text-warning cur_pointer"></i>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center" *ngIf="collectionSize==0"><span>No Data Found</span></div>
            <div class="row">
              <div class="col-md-6">
                <pagination-controls *ngIf="collectionSize !=0 " (pageChange)="pagechange($event)" maxSize="5"
                  directionLinks="true" responsive="true" previousLabel="Previous" nextLabel="Next">
                </pagination-controls>
              </div>

              <div class="col-md-6"*ngIf="collectionSize !=0 ">
                <select class="custom-select pull-right" style="width: auto" (change)="limitchange($event)">
                  <option Value=10>10 Requests per page</option>
                  <option Value=15>15 Requests per page</option>
                  <option Value=25> 25 Requests per page</option>
                </select>
              </div>
            </div>

          </div>

        </div>


      </div>
    </div>
  </div>
</section>


<ng-template #deletepoup let-modal>
  <!----- Header  ------>
  <section id="modal-header">
    <div class="container">
      <div class="row p-4">
        <div class="col-md-12 frgtpass-head">
          <h4 class="text-center"> Are you sure want to Delete this Request? </h4>
        </div>
      </div>
    </div>
  </section>
  <!-------------->
  <section>
    <div class="container frgtpass-btns mb-3">
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <button type="button" class="  btn btn-danger" (click)="delete_conatct()">Delete </button>
          <button type="button" class="btn btn-green ml-3" (click)="modal.close('Close click')">Cancel</button>


        </div>
      </div>
    </div>
  </section>
</ng-template>


<ng-template #markrequest let-modal>
  <section id="modal-header">
    <div class="container">
      <div class="row p-4">
        <div class="col-md-12 frgtpass-head">
          <h4 class="text-center"> Are you sure want to mark this request as resolved? </h4>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container frgtpass-btns mb-3">
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-green" (click)="resolveconatct()">Yes</button>
          <button type="button" class="ml-3 btn btn-danger" (click)="modal.close('Close click')">No</button>
        </div>
      </div>
    </div>
  </section>
</ng-template>