.card-header{
    border-bottom: 0px;
    background-color:transparent;
}
.pass-back{
    background: #ffffff;
    padding: 30px;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
    margin-top: 90px;
}
.btn-outline-primary {
    color: #ffffff;
    border-color: #28a745;
}
