<section>
  <div class="container pt-5">
    <!-- <div class="row">
      <div class="col-md-6 pb-3 offset-md-3 text-center">
       
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <div class="pass-back">
          <div class="xyz">
            <div class="card-header pb-3 text-center">
              <img src="assets/images/grodoc-logo.svg" alt="" />

            </div>
            <h3 class=" text-center pt-3 pb-3"> Reset Password</h3>
          </div>
          <div *ngIf="succes_message" class="text-info"> <h4> Password updated Successfully.</h4></div>
          <div *ngIf="error_message" class="text-danger"> <h4> Password is not Updated Please try after some time.</h4></div>
          <div class="abc">
            <form [formGroup]="password_resetfrom" (ngSubmit)="onSubmit()">
              <div class="form-group text-left">
                <label for="">Enter New Password:</label>
                <input type="password" class="form-control" formControlName="new_passwprd" maxlength="20" minlength="6" (keydown)="keyDownHandler($event)">
                <div *ngIf="submitted&& f.new_passwprd.errors" class="text-danger">
                  <div *ngIf=" f.new_passwprd.errors.required"> New Password is required.</div>
                  <div *ngIf=" f.new_passwprd.errors.maxlength"> New Password is Maximum 20 characters.</div>
                  <div *ngIf=" f.new_passwprd.errors.minlength">New Password is Minimum 6 characters.</div>
                </div>
              </div>
              <div class="form-group text-left">
                <label for="">Enter Confirm Password:</label>
                <input type="password" class="form-control" formControlName="confirm_pass" maxlength="20" minlength="6" (keydown)="keyDownHandler($event)">
                <div *ngIf="submitted&& f.confirm_pass.errors" class="text-danger">
                    <div *ngIf=" f.confirm_pass.errors.required"> Confirm Password is required.</div>
                    <div *ngIf=" f.confirm_pass.errors.maxlength"> Confirm Password is Maximum 20 characters.</div>
                    <div *ngIf=" f.confirm_pass.errors.minlength"> Confirm Password is Minimum 6 characters.</div>
                  </div>
              </div>

              <div class=" pt-3">
                <button class="form-control btn-large btn-green" id="btnLogin" type="submit">
                 <span class="ml-2">Reset</span></button>
              </div>
            </form>
            <div class="form-group pt-3">
                <button class="form-control btn-outline-primary btn btn-danger login-btn" id="btnLogin" type="button"(click)="redirect_loginpage()">
                 <span class="ml-2" >Cancel</span></button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>